<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  {{!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"> --}}
  <link rel="icon" type="image/png" href="/Login_v4/images/icons/favicon.ico">
  <!--===============================================================================================-->
  {{!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="/Login_v4/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  {{!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="/Login_v4/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  {{!-- <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="/Login_v4/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  {{!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"> --}}
  <link rel="stylesheet" type="text/css" href="/Login_v4/vendor/animate/animate.css">
  <!--===============================================================================================-->
  {{!-- <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="/Login_v4/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/Login_v4/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/Login_v4/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/Login_v4/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  {{!-- <link rel="stylesheet" type="text/css" href="css/util.css"> --}}
  <link rel="stylesheet" type="text/css" href="/Login_v4/css/util.css">
  <link rel="stylesheet" type="text/css" href="/Login_v4/css/main.css">
  <!--===============================================================================================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <!--===============================================================================================-->
  <!--My css-->
  <link rel="stylesheet" type="text/css" href="/css/home.css">


  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    h1,
    h2,
    h3,
    h4 {
      padding: 0;
      margin: 0;
    }

    * {
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
    }

    #header {
      box-sizing: border-box;
      height: 65px;
      padding: 0 20px;
      background: #529c98;
    }

    #menu {
      display: flex;
      float: right;
      height: 100%;
    }

    .menu-items {
      min-width: 90px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      height: 100%;
      padding: 0 10px;
    }

    .menu-items:hover {
      background: #ffffff;
      color: rgb(0, 0, 0);
    }

    .logout {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      padding: 0 15px;
    }

    .logout button {
      margin: 0;
      background: white;
      height: 26px;
      width: 26px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      padding: 0px;
    }

    .logout button img {
      height: 16px;
      transition: all 0.3s ease-in-out;
    }

    .logout button:hover {
      height: 29px;
      width: 29px;
    }

    .logout button:hover img {
      height: 20px;
    }

    #content {
      height: calc(100vh - 130px);
    }

    #footer {
      height: 65px;
      background: #529c98;
      padding: 10px 20px;
    }

    #footer_inner {
      float: right;
      color: #ffffff;
    }
  </style>

</head>

<body>

  <div id="header">
    <div id="menu">
      <a class="menu-items" href="/">Home</a>
      <a class="menu-items" href="/member">Member</a>
      <div class="logout">
        <button onclick="logout();">
          <img src="/images/logout.png" alt="logout">
        </button>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="limiter">
      <div class="container-login100">
        {{{body}}}
      </div>
    </div>
  </div>

  <div id="footer">
    <div id="footer_inner">Copyright @ Lucifer</div>
  </div>
</body>
<script>
  function logout() {
    localStorage.clear()
    location.href = "/signin"
  }
</script>


<!--===============================================================================================-->
<script src="/Login_v4/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/Login_v4/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/Login_v4/vendor/bootstrap/js/popper.js"></script>
<script src="/Login_v4/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/Login_v4/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/Login_v4/vendor/daterangepicker/moment.min.js"></script>
<script src="/Login_v4/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/Login_v4/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/Login_v4/js/main.js"></script>
<!--===============================================================================================-->
<script src="/js/myJS.js"></script>


</html>