<div class="project-bg-content">
    <div id="welcome_user"></div>

    <div class="add-project-button"><button id="myBtn">Add Project</button></div>
    <div id="project_wrapper" project-id="{{id}}"></div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h4>Create Your New Own Project</h4>
        </div>
        <div class="modal-body">
            <input id="project_input_name" type="text" placeholder="Type your project name" name="project_name">
            <span id="empty_warn">Please enter name for the project</span>
            <span id="duplicate_warn"></span>
            <div class="submit_wrapper"><button id="submit_project" onclick="projectSubmit();">Create</button></div>
        </div>
    </div>
</div>

<script>
    // Redirect home page
    let id = localStorage.getItem('token');
    let name = localStorage.getItem('user_name');
    if (!id) location.href = "/signin"
    $('#project_wrapper .project-item').click(event => {
        console.log(event.target.getAttribute('project-id'));
    })
    // ==============

    // Welcome user
    document.getElementById('welcome_user').innerHTML += `Welcome ${name}`;
    //===================

    //Modal js
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // remove warning
    $(document).ready(function () {
        $("input").focus(function () {
            $("span").removeAttr("style");
        });
    });
    // -=====================-=-==-=-=-=--=-=
    // Create Project
    function emptyCheck() {
        let input = document.getElementById('project_input_name').value
        if (input == '') {
            document.getElementById('empty_warn').style.display = 'block';
            return false;
        } else {
            return true;
        }
    }

    function projectSubmit() {
        if (emptyCheck()) {
            let dupWarn = document.getElementById('duplicate_warn');
            dupWarn.textContent = ''
            let token = localStorage.getItem('token')
            let project_name = document.getElementById('project_input_name').value
            axios.post('/create-projects', {
                project_name: project_name,
                token: token
            }).then(rs => {
                console.log('project rs: ', rs.data.project_name)
                document.getElementById("myModal").style.display = 'none'
                location.reload();
            }).catch(err => {
                dupWarn.textContent = err.response.data
                dupWarn.style.display = 'block'
            })
        }
    }

    axios.get('/get-projects', {
        params: {
            token: localStorage.getItem('token')
        }
    }).then(rs => {
        project_wrapper.innerHTML = ''
        rs.data.forEach(project => {
            project_wrapper.innerHTML += `<div onclick="projectGetId(event);" class="project-item" project-id="${project.id}"><span>${project.project_name}</span></div>`
        })
    }).catch(err => {
        console.log(err.response)
    })

    function projectGetId(event) {
        let projectId = event.currentTarget.getAttribute('project-id')
        location.href = `/project/${projectId}/task`
    }

</script>