<div class="project-bg-content">
    <div class="inner-content">
        <h1>Members List</h1>
        <table id="customers">
            <tr class="table-header">
                <td style="max-width: 160px; text-align: center; font-weight: bold">Member name</td>
                <td style="max-width: 280px; text-align: center; font-weight: bold">Email</td>
                <td style="min-width: 80px; text-align: center; font-weight: bold">ID</td>
                <td style="max-width: 410px; text-align: center; font-weight: bold">Updated Time</td>
                <td style="max-width: 160px; text-align: center; font-weight: bold">Profile</td>
            </tr>
            {{#each members}}
            <tr>
                <td>{{member_name}}</td>
                <td>{{email}}</td>
                <td style="text-align: center;">{{id}}</td>
                <td>{{updated_at}}</td>
                <td style="text-align: center;">
                    <a href="/member/{{id}}" style="color: black; text-decoration: underline">View</a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>


<script>
    function submit() {
        axios.post('/create-users', {
            member_name: member_name.value,
            email: email.value,
        }).then(rs => {
            console.log('rs: ', rs)
            $("table#customers tbody").append(`<tr><td>${rs.data.member_name}</td><td>${rs.data.email}</td>
                <td style = "text-align: center;" >${rs.data.id}</td >
                <td>${rs.data.updated_at}</td>
                <td style="text-align: center;">
                    <a href="/member/25" style="color: black; text-decoration: underline">View</a>
                </td>
            </tr >`)
        })
    }
</script>

<style>
    .project-bg-content {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
    }

    .inner-content {
        height: 100%;
        width: 100%;
        background: #ffffff;
        border-radius: 15px;
        border: 3px solid #68bef8;
        padding: 20px 35px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        margin-top: 25px
    }

    button {
        margin-top: 15px;
        float: right;
    }

    input {
        width: 320px;
        height: 32px;
    }


    fieldset {
        display: flex;
        justify-content: space-between
    }

    .table-header td {
        background-color: rgb(24, 179, 166)
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px 15px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2ab;
    }

    #customers tr:hover {
        background-color: rgb(170, 170, 170);
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>