<style>
    #content {
        height: 100vh;
    }

    #header,
    #footer {
        display: none;
    }

    .align-button {
        padding: 25px 0px 0px;
    }

    #checked_pass {
        display: none;
        content: "\2714";
        position: absolute;
        top: 37px;
        right: -20px;
        font-size: 21px;
        color: green;
        font-weight: bold;
    }

    #invalid_pass {
        display: none;
        content: "\2718";
        position: absolute;
        top: 35px;
        right: -20px;
        font-size: 24px;
        color: red;
        font-weight: bolder;
    }

    #err_mess {
        display: none;
        color: red;
        font-size: 13px;
        padding-bottom: 20px;
        font-weight: bold;
    }
</style>
<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <form id="register_form" class="login100-form validate-form" action="/create-users" method="post">

        <span class="login100-form-title p-b-49">
            Register
        </span>

        <div class="wrap-input100 validate-input m-b-25" data-validate="Username is required">
            <span class="label-input100">Username</span>
            <input id="username_register_input" class="input100" type="text" name="member_name"
                placeholder="Type your username" autocomplete="off">
            <span class="focus-input100" data-symbol=""></span>
        </div>

        <div class="wrap-input100 validate-input m-b-25" data-validate="Email is required">
            <span class="label-input100">Email</span>
            <input id="email_register_input" class="input100" type="email" name="email" placeholder="Type your email"
                autocomplete="off">
            <span class="focus-input100" data-symbol=""></span>
        </div>
        <div id="err_mess"></div>

        <div class="wrap-input100 validate-input m-b-25" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input id="password" class="input100" type="password" name="password" placeholder="Type your password"
                onkeyup='check();' autocomplete="off">
            <span class="focus-input100" data-symbol=""></span>
        </div>

        <div class="wrap-input100 validate-input m-b-25" data-validate="Confirm your password">
            <span class="label-input100">Confirm Password</span>
            <input id="confirm_password" class="input100" type="password" name="confirm_password"
                placeholder="Confirm your password" onkeyup='check();' autocomplete="off">
            <span class="focus-input100" data-symbol=""></span>
            <span id="checked_pass">&#10004;</span>
            <span id="invalid_pass">&#10008;</span>
        </div>

        <div class="align-button">
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button onclick="register();" class="login100-form-btn">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>

        <div class="flex-col-c p-t-50">
            <span class="txt1 p-b-17">
                Already have an account?
            </span>

            <a href="/signin" class="txt2">
                Sign in
            </a>
        </div>

    </form>
</div>
<div id="dropDownSelect1"></div>