<style>
    #content {
        height: 100vh;
    }

    #header,
    #footer {
        display: none;
    }

    #err_singin_mess {
        display: none;
        color: red;
        font-size: 13px;
        margin-bottom: 20px;
        font-weight: bold;
    }
</style>

<div class=" wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <form id="sign_in_form" class="login100-form validate-form">
        <span class="login100-form-title p-b-49">
            Login
        </span>

        <div class="wrap-input100 validate-input m-b-23" data-validate="User's email is required">
            <span class="label-input100">Email</span>
            <input id="email_input" class="input100" type="text" name="email" placeholder="Type your email">
            <span class="focus-input100" data-symbol=""></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input id="password_input" class="input100" type="password" name="pass" placeholder="Type your password">
            <span class="focus-input100" data-symbol=""></span>
        </div>

        <div class="text-right p-t-8 p-b-31">
            <a href="#">
                Forgot password?
            </a>
        </div>

        <div id="err_singin_mess">1212121212121212121</div>

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button onclick="login();" class="login100-form-btn">
                    Sign in
                </button>
            </div>
        </div>

        <div class="txt1 text-center p-t-54 p-b-20">
            <span>
                Or Sign Up Using
            </span>
        </div>

        <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
                <i class="fa fa-facebook"></i>
            </a>

            <a href="#" class="login100-social-item bg2">
                <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="login100-social-item bg3">
                <i class="fa fa-google"></i>
            </a>
        </div>

        <div class="flex-col-c p-t-60">
            <span class="txt1 p-b-17">
                You don't have account?
            </span>

            <a href="/register" class="txt2">
                Sign Up
            </a>
        </div>
    </form>
</div>
<div id="dropDownSelect1"></div>