<style>
    .tasks-container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .tasks-fields {
        display: inline-table;
        width: 300px;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 10px 15px;
        margin-right: 20px;
        background: #529c98a9;
    }

    .tasks-fields h4 {
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #000000;
        color: #ffffff;
        font-size: 1.3rem;
    }

    #task_name {
        padding: 5px 8px;
        width: 100%;
        border-bottom: 1px solid #000000;
        height: 45px;
        font-size: 17px;
    }

    #task_name:focus {
        outline: auto;
    }

    .add-task-container {
        margin-top: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        position: relative;
    }

    #add_bar {
        display: flex;
        margin-top: 7px;
        width: 100%;
        padding: 0 10px 7px 10px;
        justify-content: space-between;
    }

    #add_task,
    #close_btn {
        border: 1px solid;
        border-radius: 7px;
        width: 90px;
        height: 35px;
        background-color: #b5ebee;
        font-weight: 600;
    }

    #doing_wrapper,
    #finished_wrapper,
    #task_wrapper {
        margin: 10px 0px;
        padding: 5px 0px;
        border-radius: 5px;
        background-color: #ffffff;
        min-height: 100px;
    }

    .task-items {
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: 0px 10px;
        margin: 5px 5px 10px 5px;
        border: 1px solid;
        background-color: #b5ebee;
        border-radius: 5px;
        height: 35px;
    }

    #duplicate_warn,
    #empty_warn {
        top: 45px;
        left: 5px;
    }
</style>

<div class="tasks-container">
    <div class="tasks-fields">
        <h4>Tasks</h4>
        <div id="task_wrapper"></div>
        <div class="add-task-container">
            <input id="task_name" type="text" placeholder="input task name">
            <span id="empty_warn">Please enter name for the task</span>
            <span id="duplicate_warn"></span>
            <div id="add_bar">
                <button id="add_task" onclick="addTask();">Add</button>
                <button id="close_btn">Cancel</button>
            </div>
        </div>
    </div>
    <div class="tasks-fields" style="min-height: 150px">
        <h4>Doing</h4>
        <div id="doing_wrapper"></div>

    </div>
    <div class="tasks-fields" style="min-height: 150px">
        <h4>Finished</h4>
        <div id="finished_wrapper"></div>

    </div>
</div>

<script>
    let idTask = localStorage.getItem('token');
    let name = localStorage.getItem('user_name');
    if (!idTask) location.href = "/signin"
    //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    let pathes = location.pathname.split('/');
    let id = pathes[2];

    axios.get('/get-tasks', {
        params:
        {
            projectId: id,
            token: localStorage.getItem('token')
        }
    }).then(rs => {
        console.log('rs add tasks: ', rs)
        task_wrapper.innerHTML = ''
        rs.data.forEach(task => {
            task_wrapper.innerHTML += `<div class="task-items">${task.task_name}</div>`
        })
    }).catch(err => {
        console.log(err.response)
    })
    //-=-=-=-=-=-=-=-=-=-=-=-
    // remove warning
    $(document).ready(function () {
        $("input").focus(function () {
            $("span").removeAttr("style");
            $("#add_bar").css("margin-top", "7px");
        });
    });

    function emptyCheck() {
        let input = document.getElementById('task_name').value
        if (input == '') {
            document.getElementById('empty_warn').style.display = 'block';
            document.getElementById("add_bar").style.marginTop = "25px";
            return false;
        } else {
            return true;
        }
    }

    function addTask() {
        if (emptyCheck()) {
            // dup warning
            let dupWarn = document.getElementById('duplicate_warn');
            dupWarn.textContent = ''
            //----------
            let task_name = document.getElementById('task_name').value;
            let pathes = location.pathname.split('/');
            let projectId = pathes[2];
            let process = "open"
            console.log('tao task')
            axios.post('/create-tasks', {
                task_name: task_name,
                projectId: projectId,
                process: process,
                token: localStorage.getItem('token'),
            }).then(rs => {
                console.log('vao reload');
                location.reload();
            }).catch(err => {
                console.log('err catch task:', err)
                dupWarn.textContent = err.response.data
                dupWarn.style.display = 'block'
                document.getElementById("add_bar").style.marginTop = "25px";
                console.log("cannot connect create-tasks")
            })
        }
    }

    // Simple list
    Sortable.create(task_wrapper, {
        group: "task", animation: 150,
        onUpdate: function (event) {
            let oldPst = event.oldIndex;
            let newPst = event.newIndex;
            console.log('new:', newPst);
            console.log('old:', oldPst);
        },
    });
    /*
    buoc1:target.position = parent[evt.oldIndex-1].position
buoc2:all parent[evt.newIndex-1].positon-=1

    */
    Sortable.create(doing_wrapper, { group: "task", animation: 150 });
    Sortable.create(finished_wrapper, { group: "task", animation: 150 });
</script>