.project-bg-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#project_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    margin: 0 20px 20px 0;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    height: 110px;
    width: 140px;
}

.project-item span {
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 20px;
    transition: all 0.3s ease-in;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #000
}

.project-item:hover span {
    background: black;
    color: #ffffff;
    cursor: pointer;
}

.add-project-button {
    margin: 20px 0px;
    width: 105px;

}

#myBtn {
    padding: 5px 10px;
    background: #b5eaee;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.35s ease-in;
    border-radius: 5px;
}

#submit_project:hover,
#myBtn:hover {
    background: #000000;
    color: #ffffff;
}

#welcome_user {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#project_input_name {
    outline: auto;
    height: 50%;
    width: 100%;
    border: 1px solid;
    padding: 5px 13px;
    font-size: 18px;
    margin-bottom: 20px;
}

.submit_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#submit_project {
    padding: 5px 30px;
    background: #c7c7c7f5;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.35s ease-in;
    border-radius: 5px;
}

#duplicate_warn,
#empty_warn {
    display: none;
    position: absolute;
    color: red;
    top: 83px;
    font-size: 14px;
}

/* Modal style */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    top: 200px;
    background-color: #fefefe;
    border: none;
    left: 25%;
    height: 200px;
    width: 50%;
    border-radius: 0px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 10px;
    overflow: hidden;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    background-color: #2d93d3;
    color: white;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #2d93d3;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        top: 100px;
        opacity: 0
    }

    to {
        top: 200px;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: 100px;
        opacity: 0
    }

    to {
        top: 200px;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}